<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="text-center">
<%= link_to "登入", sessions_new_path, class: "btn btn-success" %>
<%= link_to "註冊", new_user_path, class: "btn btn-danger" %>
</div>